@font-face { font-family: 'thinPixel'; src: url('../fonts/thin_pixel-7.ttf');}
@font-face { font-family: 'backto1982'; src: url('../fonts/backto1982.ttf');}
@font-face { font-family: 'alterebro-pixel-font'; src: url('../fonts/alterebro-pixel-font.ttf');}

@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

@keyframes blinkfast {
  0%{opacity: 0;}
  25%{opacity: .5;}
  50%{opacity: 1;}
  55%{opacity: 0;}
  75%{opacity: .5;}
  100%{opacity: 1;}
}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-color: black;
    background-repeat: no-repeat;
    width: 544px;
    color:white;
}

#sarasa {
    width: 642px;
    height: 416px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: black;
}

#sky {
  z-index: -1;
  position: absolute;
}

#screen {
    width: 544px;
    height: 372px;
    position: relative;
    margin: 0 auto;
    top: 23px;
    z-index: 100;
}

#video {
  position: absolute;
  width: 544px;
  height: 278px;
}

#feed {
  z-index: -10;
  width: 100%;
  height: 100%;
  overflow:hidden;
  top: 0px;
  left: 0px;
}

#startscreen {
  background-image:url("../assets/start_screen_low.jpg");
  position: absolute;
  width: 544px;
  height: 372px;;
  background-repeat: no-repeat;
}
#startscreen  p {
  top: 206px;
  position: absolute;
  left: 133px;
  color: white;
  text-shadow: 3px 3px 5px black;
  animation: blink 1s linear infinite;
}

/***** INICIO USER DATA *****/

#userdata_container{
  background-color: black;
  width: 544px;
  height: 94px;
  position: absolute;
  top: 278px;
}

#userdata_1{
  width: 200px;
  height: 66px;
  background-repeat: no-repeat;
  top: 296px;
  border-radius: 8px;
  border: 6px solid #cdd2b4;
  float: left;
  margin-left: 5px;
  margin-top: 8px;
}

#userdata_2{
  width: 200px;
  height: 66px;
  background-repeat: no-repeat;
  top: 296px;
  border-radius: 8px;
  border: 6px solid #cdd2b4;
  margin-left: 220px;
  margin-top: 8px;
}

#ansiedad,#felicidad,#miedo,#energia,#hambre,#dinero{
  background-image:url("../assets/energy_bar.png");
  position: absolute;
  width:35px;
  height: 11px;
  background-repeat: no-repeat;
}

#ansiedad{
  top: 24px;
  left: 138px;
}
#ansiedad p{
  top: -14px;
  left: -109px;
  position: absolute;
  font-size: 0.8em;
}

#felicidad{
  top: 41px;
  left: 138px;
}

#felicidad p{
  top: -14px;
  left: -122px;
  position: absolute;
  font-size: 0.8em;
}

#miedo{
  top: 58px;
  left: 138px;
}

#miedo p{
  top: -14px;
  left: -71px;
  position: absolute;
  font-size: 0.8em;
}

#energia{
  top: 24px;
  left: 335px;
}

#energia p{
  top: -14px;
  left: -95px;
  position: absolute;
  font-size: 0.8em;
}

#hambre{
  top: 41px;
  left: 335px;
}

#hambre p{
  top: -14px;
  left: -82px;
  position: absolute;
  font-size: 0.8em;
}

#dinero{
  top: 58px;
  left: 335px;
}

#dinero p{
  top: -14px;
  left: -82px;
  position: absolute;
  font-size: 0.8em;
}

.text_warning_style{
  color: yellow;
  animation: blink 1s linear infinite;
}

.text_critical_style{
  color: yellow;
  animation: blinkfast 1s linear infinite;
}

.text_danger_style{
  color: red;
  animation: blink 1s linear infinite;
}

#vidas {
  background: url(../assets/corazones.png);
  width: 78px;
  height: 21px;
  position: relative;
  top:-15px;
  left: 441px;
}

#tiempo{
  width: 78px;
  position: absolute;
  top:0px;
  left: 450px;
  font-size: 1.2em;
  text-align: center;
  color: white;

}
#tiempo p.title{
font-size: 0.9em;
color: #cdd2b0;
position: relative;
top: 11px;
left: -16px;
}
/***** FIN USER DATA *****/

/***** INICIO ACTION MENU *****/

div#actionsmenu1, div#actionsmenu2, div#actionsmenu3, div#actionsmenu4, div#actionsmenu5 {
  position: relative;
  margin: 0 auto;
  top: 110px;
  height: 81px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: rgba(0,0,0,0.9);
  border-radius: 8px;
  border: 6px solid #cdd2b4;
}

div#actionsmenu1{
  width: 140px;
}
div#actionsmenu2{
  width: 192px;
}
div#actionsmenu3{
  width: 326px;
}
div#actionsmenu4{
  width: 454px;
}
div#actionsmenu5{
  width: 520px;
}

#titulo_action {
  border-radius: 8px;
  border: 6px solid #cdd2b4;
  padding: 13px;
  width: 201px;
  height: 0px;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: -50px;
}

div#actionsmenu1 #titulo_action{
  left: -47px;
}
div#actionsmenu2 #titulo_action{
  left: -23px;
}
div#actionsmenu3 #titulo_action{
  left: 34px;
  width: 221px;
}
div#actionsmenu4 #titulo_action{
  left: 108px;
  width: 201px;
}
div#actionsmenu5 #titulo_action{
  left: 116px;
  width: 248px;
}

#titulo_action p {
  font-family: 'Press Start 2P';
  font-size: 0.6em;
  color: ##cdd1b4;
  top: -14px;
  position: relative;
  width: 101%;
  text-align: center;
}

#cambiar_escena_button {
  border-radius: 8px;
/*  border: 6px solid #cdd2b4; */
  padding: 9px 9px 15px 17px;
  width: 18px; 
  height: 7px;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 100px;
}

#cambiar_escena_button:hover{
  /*border: 6px solid #d3a75f;*/
}

#cambiar_escena_button:hover p.texto_cambiar_escena{
  color: #d6bd96;
}

div#actionsmenu1 #cambiar_escena_button {
  left: 50px;
}
div#actionsmenu2 #cambiar_escena_button {
  left: 70px;
}
div#actionsmenu3 #cambiar_escena_button {
  left: 136px;
}
div#actionsmenu4 #cambiar_escena_button {
  left: 200px;
}
div#actionsmenu5 #cambiar_escena_button {
  left: 230px;
}

p.texto_cambiar_escena{
  font-family: 'Press Start 2P';
  font-size: 1em;
  color: white;
  text-align: center;
  top: -17px;
  position: relative;
  text-transform: uppercase;
  animation: blink 1s linear infinite;
  width: 278px;
  left: -133px;
  text-align: center;
}

div.contenedor{
  height: 40px;
  float: left;
  margin-right: 8px;
  margin-left: 10px;
  position: relative;
  top: 10px;
  left: 0px;
}

p.texto{
  font-family: 'thinPixel';
	font-size: 1.4em;
	color:white;
	text-align: center;
  top: 15px;
  position: relative;
  text-transform: uppercase;
}

.comer,.dormir,.trabajar,.ocio,.entrenar,.sexo,.votar,.belleza{
  width: 46px;
  background-repeat: no-repeat;
}

.comer {background: url("../assets/actions_sprite.png") -4px,0px;}
.comer:hover,.comer-selected {
  background: url("../assets/actions_sprite_over.png") -4px,0px;
}

.dormir {background: url("../assets/actions_sprite.png") -64px,0px;}
.dormir:hover,.dormir-selected {
  background: url("../assets/actions_sprite_over.png") -64px,0px;
}

.trabajar {background: url("../assets/actions_sprite.png") -134px,0px;}
.trabajar:hover,.trabajar-selected {
  background: url("../assets/actions_sprite_over.png") -134px,0px;
}

.ocio {background: url("../assets/actions_sprite.png") -202px,0px;}
.ocio:hover,.ocio-selected {
  background: url("../assets/actions_sprite_over.png") -202px,0px;
}

.entrenar {background: url("../assets/actions_sprite.png") -265px,0px;}
.entrenar:hover,.entrenar-selected {
  background: url("../assets/actions_sprite_over.png") -265px,0px;
}

.sexo {background: url("../assets/actions_sprite.png") -328px,0px;}
.sexo:hover,.sexo-selected {
  background: url("../assets/actions_sprite_over.png") -328px,0px;
}

.votar {background: url("../assets/actions_sprite.png") -395px,0px;}
.votar:hover,.votar-selected {
  background: url("../assets/actions_sprite_over.png") -395px,0px;
}

.belleza {background: url("../assets/actions_sprite.png") -460px,0px;}
.belleza:hover,.belleza-selected {
  background: url("../assets/actions_sprite_over.png") -460px,0px;
}

/***** FIN ACTION MENU *****/

/***** INICIO AVATAR MENU *****/

#titulo_avatar{
  border-radius: 8px;
  border: 6px solid #cdd2b4;
  padding: 13px;
  width: 176px;
  height: 0px;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: -50px;
  left: 154px;
}

#titulo_avatar p{
  font-family: 'Press Start 2P';
  font-size: 0.6em;
  color: ##cdd1b4;
  text-align: center;
  top: -14px;
  position: relative;

  /*animation: blink 1s linear infinite;*/
  position: relative;
  width: 278px;
  left: -51px;
}

div#avatarsmenu{
  position: absolute;
  top: 100px;
  left: 19px;
  width: 494px;
  height: 106px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 8px;
  border: 6px solid #cdd2b4;

}

div.contenedor_avatar{
  width: 62px;
  height: 70px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: 12px;
  left: 0px;
}

p.texto_avatar{
  font-family: 'thinPixel';
	font-size: 1.4em;
	color:white;
	text-align: center;
  top: 44px;
  position: relative;
  text-transform: uppercase;
}

#fitness,#payasa,#maga,#vikinga,#empresaria,#hiphop,{
  width: 60px;
  background-repeat: no-repeat;
}

#fitness {background: url("../assets/avatars_sprite.png") -4px,0px;}
#fitness:hover, .fitness-selected {
  background: url("../assets/avatars_sprite_over.png") -4px,0px !important;
}

#payasa {background: url("../assets/avatars_sprite.png") -90px,0px;}
#payasa:hover, .payasa-selected {
  background: url("../assets/avatars_sprite_over.png") -90px,0px !important;
}

#maga {background: url("../assets/avatars_sprite.png") -168px,0px;}
#maga:hover, .maga-selected {
  background: url("../assets/avatars_sprite_over.png") -168px,0px !important;
}

#vikinga {background: url("../assets/avatars_sprite.png") -244px,0px;}
#vikinga:hover, .vikinga-selected {
  background: url("../assets/avatars_sprite_over.png") -244px,0px !important;
}

#empresaria {background: url("../assets/avatars_sprite.png") -325px,0px;}
#empresaria:hover, .empresaria-selected {
  background: url("../assets/avatars_sprite_over.png") -325px,0px !important;
}

#hiphop {background: url("../assets/avatars_sprite.png") -406px,0px;}
#hiphop:hover, .hiphop-selected {
  background: url("../assets/avatars_sprite_over.png") -406px,0px !important;
}

/***** FIN AVATAR MENU *****/

#gameover, #youWin {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 544px;
    height: 120px;
    top:100px;
}

p.texto_vintage{
  font-family: 'backto1982';
  font-size: 4em;
  color: white;
  text-align: center;
  top: -38px;
  position: relative;
  text-transform: uppercase;
  animation: blink 1s linear infinite;
}
